<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <%= nested_form_for @event do |EDate| %>
<%= EDate.fields_for :e_dates do |e_date_form| %> 
  <%= e_date_form.text_field :name%>
  <%= e_date_form.link_to_remove "Remove this date"%>
  <% end %> 
<p><%= f.link_to_add "Add Date", :e_dates %> </p>
<% end %>
<div class="actions">
<%= f.submit %>
  </div>
<% end %>
