<p id="notice"><%= notice %></p>

<h1>Listing P Times</h1>

<table>
  <thead>
    <tr>
      <th>P start</th>
      <th>P end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @p_times.each do |p_time| %>
      <tr>
        <td><%= p_time.p_start %></td>
        <td><%= p_time.p_end %></td>
        <td><%= link_to 'Show', p_time %></td>
        <td><%= link_to 'Edit', edit_p_time_path(p_time) %></td>
        <td><%= link_to 'Destroy', p_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New P time', new_p_time_path %>
