<p id="notice"><%= notice %></p>

<p>
  <strong>P start:</strong>
  <%= @p_time.p_start %>
</p>

<p>
  <strong>P end:</strong>
  <%= @p_time.p_end %>
</p>

<%= link_to 'Edit', edit_p_time_path(@p_time) %> |
<%= link_to 'Back', p_times_path %>
