<p id="notice"><%= notice %></p>

<h1>Listing P Dates</h1>

<table>
  <thead>
    <tr>
      <th>Avail date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @p_dates.each do |p_date| %>
      <tr>
        <td><%= p_date.avail_date %></td>
        <td><%= link_to 'Show', p_date %></td>
        <td><%= link_to 'Edit', edit_p_date_path(p_date) %></td>
        <td><%= link_to 'Destroy', p_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New P date', new_p_date_path %>
